body {
    background: cornsilk
}
header .container {
    max-width: 906px;
    margin-top: auto;
}
header .contaiher {
    max-width: 556px;
}
.navigation {
    margin-top: 67px;
    margin-bottom: 97px;
}
.navigation a {
    text-decoration: none;
    color: deepskyblue;
}